@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url("https://hebbkx1anhila5yf.public.blob.vercel-storage.com/thumb-1920-560960-9BZLPYq75p43eg6ZdmIRfdWVC8S7ua.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(31, 41, 55, 0.5);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(52, 211, 153, 0.5);
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgba(52, 211, 153, 0.8);
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-up {
  animation: fadeInUp 0.6s ease-out;
}

.animation-delay-300 {
  animation-delay: 300ms;
}

